:root {
  font-family: 'Garamond', serif; /* Because why not? */
  line-height: 2; /* Let's make it spacious and playful */
  font-weight: 200; /* Light and airy, like a butterfly */

  color-scheme: light dark;
  color: #0072CE; /* CIA blue */
  background: linear-gradient(45deg, #201f1f 50%, #2C3033 50%); /* Rusty black gradient, representing secrecy */

  font-synthesis: none;
  text-rendering: optimizeLegibility; /* Because we want it to be extra legible */
  -webkit-font-smoothing: subpixel-antialiased; /* Super smooth, like a polished mirror */
  -moz-osx-font-smoothing: grayscale; /* Adding a touch of old school */

  transform: rotate(5deg) scale(1.1); /* Wild and unpredictable */
}

a {
  font-weight: 1000; /* Maximum boldness, because why not? */
  color: #181818; /* Black, representing table */
  text-decoration: underline overline; /* Let's go wild with decorations */
  transition: color 5s ease-out; /* Slow, like a leisurely stroll through Gotham */
}
a:hover {
  color: #FF0000; /* Red, signaling danger */
}

body {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50%; /* Filling up every inch of screen space */
  min-height: 50vh; /* Reaching for the stars */
}

h1 {
  font-size: 6em; /* Massive, like a skyscraper */
  line-height: 1; /* Let's make it tight and compact */
  color: #9e1010; /* Dark red, representing intense alert */
  text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.8); /* Blindingly bright */
  animation: pulse 1s infinite alternate; /* Pulse animation */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

button {
  border-radius: 50%; /* Because circles are cool */
  border: 5px dashed #FF0000; /* Red, signaling danger */
  padding: 1em 2em; /* Because bigger is better */
  font-size: 1em; /* Huge and humongous */
  background-color: #000000; /* Rusty black, representing secrecy */
  color: #ff0000; /* Red, signaling danger */
  cursor: help; /* Just to mess with expectations */
  transition: all 1s cubic-bezier(0.5, 0, 0.5, 1); /* Slow and dramatic */
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); /* Dark shadow */
}
button:hover {
  transform: scale(1.5) rotate(180deg); /* Because why not spin things around? */
  background-color: rgba(255, 255, 255, 0.8); /* Yellow, representing intelligence */
}
button:focus,
button:focus-visible {
  outline: 5px dashed #FF0000; /* Bold and brash */
  box-shadow: 0 0 0 25px rgba(255, 0, 0, 0.7); /* Red, signaling danger */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #161616; /* Dark gray, representing shadow */
    background-color: #FFFFFF; /* White, representing purity */
  }
  a:hover {
    color: #FF0000; /* Red, signaling danger */
  }
  button {
    background-color: #FF0000; /* Red, signaling danger */
  }
}