/* General Styling */
body {
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 50px;
}

/* Location Card Styles */
.location-card {
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  padding: 20px;
}

/* Weather Card Styles */
.weather-card {
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  padding: 20px;
}

.weather-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.weather-row > * {
  flex: 0 0 45%;
  margin-bottom: 1rem;
}

/* Movie Card Styles */
.movie-card {
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  padding: 20px;
}

.movie-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-row > * {
  flex: 0 0 45%;
  margin-bottom: 1rem;
}
